<%- include header %>
<form method = "post">
 	title: <br/>
 	<input type = "text" name = "title" value ="<%= post.name %>" disabled = "disabled"/>
 	<br/>
 	tag: <br/>
 	<input type="text" name="tag1" value="<%= post.tags[0] %>" disable="disable"/>
 	<input type="text" name="tag2" value="<%= post.tags[1] %>" disable="disable"/>
 	<input type="text" name="tag3" value="<%= post.tags[2] %>" disable="disable"/>
 	text : <br/>
 	<textarea name = "post" rows = "20" cols = "100"><%= post.post %> </textarea><br/>
 	<input type = "submit" value = "save edit">
</form>
<%- include footer %>