<%- include header %>

<% posts.forEach( function( post, index ){ %>
  <p></h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" ><img src="<%= post.head %>"  class="r_head"> <%= post.title %></h2></a></p>

  <p class = "info">
  	auther: <a href="/u/<%= post.name %>"><%= post.name %></a>|
  	date: <%= post.time.minute %>
  	tag: 
  	<% post.tags.forEach( function( tag, index ){ %>
  		<% if( tag ) { %>
  			<a class="tag" href="/tags/<%= tag %>" ><%= tag %></a>
  		<% } %>
  	<% }) %>
    <% if( post.reprint_info.reprint_from ){ %>
      <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>" >origin link</a>
    <% } %>
  </p>
  
  <p><%- post.post %></p>

  <p class="info"> 
    reading: <%= post.pv %> | 
    comments: <%= post.comments.length %> |
    retransmission: 
      <% if( post.reprint_info.reprint_to ){ %>
        <%= post.reprint_info.reprint_to.length %>
      <% }  else { %>
        <%= 0 %>
      <% } %>
  </p>
  
<% }) %>
<%- include footer %>